$color-primary: #181818;
$color-secondary: #fff;
$color-terciary: #fe0000;
$color-four: #888888;
$color-five: hsl(135, 70%, 51%);
$font-family-primary: 'Lato', sans-serif;
$font-size-primary: 1rem;
$font-size-secondary: 2rem;